@import "color.scss";

* {box-sizing: border-box;}

.wrapper{
  display: flex;
  
  .chat-side{
    float: left;
    width: 300px;
    color: $color1;
    font-weight: bold;

    .side-header{
      height: 200px;
      background-image: url("#{asset_path('stage.jpg')}");
      background-size:cover;
      display: flex;
      flex-direction: column;
      padding: 0 20px;

      &__title{
        font-size: 24px;
        margin: 20px auto;

        .t-icon{
          color: red;
        }
      }

      &__box{
        height: 20px;
        width: 260px;
        display: flex;
        justify-content: space-between;
        font-size: 16px;

        ul{
          display: flex;
          flex-direction: row;

          .icon{
            text-decoration: none;
            margin-left: 5px;
            color: $color1;
          }
        }
      }
    }

    .genres{
      width: 300px;
      height: calc(100vh - 100px);
      // background: rgb(10, 87, 150);
      background-image: url("newyork.png");
      background-size:cover;


      .genre{
        padding: 20px 20px 40px;

        a{
          text-decoration: none;
        }

        &__genre-name{
          font-size: 30px;
          margin-bottom: 5px;
          color: $color1;
        }

        &__latest-post{
          font-size: 11px;
          color: $color1;
        }
      }
    }
  }

  .chat-main{
    width: calc(100vw - 300px);

    .main-header{
      height: 50px;
      background-color: #063358;
      padding: 0 40px;
      display: flex;
      justify-content: space-between;

      &__left-box{
        display: flex;
        justify-content: space-between;
        width: calc(100vw - 300px - 110px);
        
        &__current-group{
          font-size: 30px;
          color: $color1;
          margin: auto 0;
        }

        &__member-list{
          margin: auto 20px;
          font-size: 12px;
          color: $color5;
        }
      }

      &__edit-btn{
        font-size: 16px;
        border: solid 1px $color6;
        padding: 0 20px;
        height: 40px;
        line-height: 40px;
        width: 70px;
        list-style: none;
        margin: auto 0;

        .btn{
          text-decoration: none;
          color: $color6;
        }
      }
    }


    .form{
      height: 150px;
      background-image: url("#{asset_path('kachinko.png')}");
      background-size: cover;
      padding: 5px 40px;
      display: flex;
      flex-direction: column;

      .input-box{
        height: 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;

        &__url{
          height: 50px;
          width: 100%;
          padding: 0 40px 0 10px;
          margin: 1px;
        }

        &__reason{
          height: 50px;
          width: 100%;
          padding: 0 40px 0 10px;
          margin: 1px;
        }

        &__image{
          position: absolute;
          font-size: 1.3rem;
          top: 20px;
          right: 25px;
          cursor: pointer;
          box-sizing: border-box;

          &__file{
            display: none;
          }
        }
      }
      
      .submit-btn{
        width: 100%;
        height: 50px;
        background-color: transparent;
        cursor: pointer;
        color: $color1;
        margin: 5px auto;
      }
    }
        
    .posts{
      height: 600px;
      background-color: white;
      padding: 10px 20px;
      display: flex;
      flex-wrap: wrap;

      .post{
        width: 600px;
        height: 400px;
        .post__upper-info{
          display: flex;
          flex-direction: row;
          margin-bottom: 12px;

          &__talker{
            font-size: 16px;
            color: $color4;
          }

          &__date{
            font-size: 12px;
            color: $color5;
          }
        }

        &__text{
          margin-bottom: 10px;
          font-size: 14px;
          color: $color8;

          
        }
      }
    }
  }
}
